body {
    min-height: 100vh;
    display: grid;
    place-items: center;
    background-color: white;
    font-family: 'Times New Roman', Times, serif;
}

.company-name {
    font-size: 85px;
    color: black;
    text-align: center;
    font-weight: lighter;
}

.btn {
    display: inline-block;
    padding: 12px 32px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    background-color: #000000;
    border: none;
    border-radius: 12px;          /* rounded corners */
    cursor: pointer;
    text-decoration: none;
    transition: all 0.25s ease;

}

.btn:hover {
    background-color: #222222;
      transform: translateY(-2px);
      box-shadow: 0 6px 8px rgb(113, 1, 113);;
}